<footer>
  <div class="container">
    <div class="row mb-5" style="margin-left: 300px">
      <div class="col-lg-4 py-3">
        <img class="logo" src="https://i.ibb.co/d2mnsS9/1.png" alt="">

        <div class="social-media-button">
          <a href="#"><i class="fa-brands fa-facebook"></i></a>
          <a href="#"><i class="fa-brands fa-tiktok"></i></a>
          <a href="#"><i class="fa-brands fa-instagram"></i></a>
    
        </div>
      </div>
      <div class="col-lg-3 py-3" style="text-align: center;">
        <div class="footer-menu" >
          <a style="text-decoration: none;color: #9c8c70;" href="#"> من نحن</a>
        </div>
        <br>
        <div class="footer-menu">

          <a style="text-decoration: none;color: #9c8c70;" href="#">سياسه الخصوصيه </a>

        </div>
      </div>

    </div>