<div class="card" *ngFor="let item of posts|paginate: { itemsPerPage: 10, currentPage: p } |slice:0:6"
  [class.d-none]="selectedCatId!=item.category" [class.d-none]="selectedCatId!=item.category">
  <div class="card-body">
    <button routerLink="post/{{item._id}}" style="font-weight:bold" class=" btn btn-alert">
      <h5 class="card-title">{{item.title}}</h5>
    </button>
  </div>
  <div class="date-time">
    <div> {{ myDate |date:'mediumDate'}}</div>
  </div>
  <img src="data:image/jpg;base64,{{item.image}}" class="card-img-top" alt="...">
</div>
<pagination-controls (pageChange)="p = $event"></pagination-controls>