<header>
  
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg ">
      <div class="container-fluid row">
        <div class="social col-3  " >
          <!-- Facebook -->
      <a style="color: #3b5998;" href="#!" role="button"
      ><i class="fa-brands fa-facebook-f"></i>
      </a>
      
      <!-- pinterest -->
      <a style="color: #dd4b39;" href="#!" role="button"
      ><i class="fa-brands fa-pinterest-p"></i>
      </a>
      
      <!-- tiktok -->
      <a href="#!"><i style="color:black" class="fa-brands fa-tiktok"></i
      ></a>
      </div>
        <div >
        <button 
          class="navbar-toggler"
          type="button"
          data-mdb-toggle="collapse"
          data-mdb-target="#navbarExample01"
          aria-controls="navbarExample01"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarExample01">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" aria-current="page" href="#">تواصل معنا</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">من نحن</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">الصفحة الرئيسية</a>
            </li>
       
          </ul>
        </div>
      </div>


      </div>
    </nav>
