
*{
    overflow: hidden;
}
.navbar{
    font-size: 16px;
    width: 1820px;
    background-color: #f6f6f6;
    margin: -10px -3px;
    overflow-x:hidden;
}
.nav-link{
color: black;
height:min-content;

}
.nav-item{
    margin-right: 70px;
}
.nav-link:hover {
    color: rgba(87, 75, 8, 0.314);
}
.navbar-nav {
    margin: 1px 108px;
}
.fa-brands{
    padding: 10px; float: left;
}
.social{
    padding-left: 10px;
    margin: 1px 36px;
}
