<!-- carosel -->
<div class="carousel ">
  <div class="carousel--item one"><div class="textbox">
    <h4 >
    مراجعه منتجات </h4><span>بنعملك مراجعه لمنتجات جربناها </span> </div></div>
  <div class="carousel--item two"><div class="textbox">
    <h4 >
    وصفات طعام </h4><span>وصفات سهله و سريعه و صحيه</span> </div></div>
  <div class="carousel--item three"><div class="textbox">
    <h4 >
      عناية شخصية </h4><span></span>بنعرفك علي طرق و اساليب الاهتمام بنفسك </div></div>
  <div class="carousel--item four"><div class="textbox">
    <h4 >
      عناية بالمنزل </h4><span></span>البيت دايما محتاج تنضيف و ترتيب بس كمان يكون بسهوله ! </div></div>
  <div class="carousel--item five"><div class="textbox">
    <h4 >
  تسوق و عروض </h4>بنتابع اجدد العروض في اشهر المواقع و السوبرماركت </div></div>
</div>

<!-- 

 card --> -->
<!-- <section class="crd">
  <div class="buttons">
  <button class="button2">تنظيم و تنظيف</button>
    </div>
  
  <div class="card" style="width: 18rem;" *ngFor="let item of posts">
      <h5 class="card-title">{{item.title}}</h5>
      <img class="card-img-top" src="data:image/jpg;base64,{{item.image}}" alt="image">
      <div class="card-body">
        <p class="card-text">{{item.description}}</p>
      </div>
      <button class="button3">لرؤية المزيد</button>
    </div>
  </section> -->



  <!-- gallery -->
  <!-- Start Featured Product -->
  <section class="bg-light">
    <div class="container py-5">
        <div class="row text-center py-3">
            <div class="col-lg-6 m-auto">
                <h1 class="h1">Featured Product</h1>
                <p>
                    Reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    Excepteur sint occaecat cupidatat non proident.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-4 mb-4">
                <div class="card h-100">
                    <a href="shop-single.html">
                      <img src="assets/3.jpg" class="card-img-top" alt="...">
                    </a>
                    <div class="card-body">
                        <ul class="list-unstyled d-flex justify-content-between">
                            <li>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-muted fa fa-star"></i>
                                <i class="text-muted fa fa-star"></i>
                            </li>
                            <li class="text-muted text-right">$240.00</li>
                        </ul>
                        <a  class="h2 text-decoration-none text-dark">Gym Weight</a>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt in culpa qui officia deserunt.
                        </p>
                        <p class="text-muted">Reviews (24)</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 mb-4">
                <div class="card h-100">
                    <a>
                      <img src="assets/3.jpg" class="card-img-top" alt="...">
                    </a>
                    <div class="card-body">
                        <ul class="list-unstyled d-flex justify-content-between">
                            <li>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-muted fa fa-star"></i>
                                <i class="text-muted fa fa-star"></i>
                            </li>
                            <li class="text-muted text-right">$480.00</li>
                        </ul>
                        <a class="h2 text-decoration-none text-dark">Cloud Nike Shoes</a>
                        <p class="card-text">
                            Aenean gravida dignissim finibus. Nullam ipsum diam, posuere vitae pharetra sed, commodo ullamcorper.
                        </p>
                        <p class="text-muted">Reviews (48)</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 mb-4">
                <div class="card h-100">
                    <a>
              <img src="assets/3.jpg" class="card-img-top" alt="...">
                    </a>
                    <div class="card-body">
                        <ul class="list-unstyled d-flex justify-content-between">
                            <li>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                            </li>
                            <li class="text-muted text-right">$360.00</li>
                        </ul>
                        <a class="h2 text-decoration-none text-dark">Summer Addides Shoes</a>
                        <p class="card-text">
                            Curabitur ac mi sit amet diam luctus porta. Phasellus pulvinar sagittis diam, et scelerisque ipsum lobortis nec.
                        </p>
                        <p class="text-muted">Reviews (74)</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Featured Product -->