
.carousel {
  margin-top: -20px;
  display: flex;
  gap: 0.9em;
  width: 1250px;
  left: 80px;
  margin-left: 100px;
  height: 540px; 



  /* adds scrolling for the element: */
  overflow-x: scroll;
  /* removes the horizontal scrollbar: */
  scrollbar-width: none;
}

.carousel--item {
  /* carousel item should have min-width declared: */
  min-width: 400px;
  /* carousel item should have defined height: */
  height: 540px;

  border-radius: 0.4em;
  background-position: center;
  background-size: cover;
  opacity: 0.85;
  transition: 300ms ease;
}

.carousel--item:hover {
  opacity: 1;
  transform: scale(1.01);
  transform-origin: bottom;
}

.one {
  background-image: url("https://i.ibb.co/jGYsLgx/pexels-alesia-kozik-7797445.jpg");
}

.two {
  background-image: url("https://images.unsplash.com/photo-1650142700236-f1889e0193b8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDE0fHhqUFI0aGxrQkdBfHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=900&q=60");
}

.three {
  background-image: url("https://i.ibb.co/sqDbZkz/pexels-tara-winstead-6690866.jpg");
}

.four {
  background-image: url("https://i.ibb.co/cywCZ1j/pexels-sarah-chai-7282427.jpg");
}

.five {
  background-image: url("https://i.ibb.co/MsVRz4k/pexels-cup-of-couple-6956912.jpg");
}

body {
  background-color: BlanchedAlmond;
}

.textbox {
  background-color: rgb(255, 255, 255);
  margin-top: 450px;
  width: 320px;
  text-align: center;
  margin-left: 40px;
  height: 100px;
}
h4 {
  text-align: center;
  margin-left: 80px;
  background-color: rgb(194, 181, 153) !important ;
  width: 50%;
  color: #212529;
}
button {
  border: none;
}

/* card */

/* quote */
h2 {
  margin-left: 760px;
  margin-top: 60px;
}

.qoute {
  margin-left: 520px;
  margin-top: 30px;
}
h3 {
  margin-left: 180px;
  padding-top: 80px;
}

/* card */
.card {
  width: 400px;
  height: 400px;
  margin-right: 70px;
  margin-top: 30px;
  float: right;
  transition: -webkit-transform 0.3s ease;
}
.card-title {
  text-align: center;
  color: #a29475;
}
a {
  text-decoration: none;
  color: #a29475;
}
img {
  height: 200px;
}
.card-text{
  text-overflow: ellipsis;
}

.card :hover {
  transform: scale(1.01, 1.01);
}
.date-time {
  float: right;
  margin-top: -60px;
  margin-left: 100px;
  color: #e1a730;
}
.row-cols-1{
  width: 500px;height: 500px;
}

.row-cols-2{
  margin-left: 20px;
}



/* responsive */
/* mobile */

@media only screen and (max-width: 375px) {
  .carousel{
    margin-left: -100px;width: 80%;
  } .row-cols-2 {
    width: 320px;padding: 10px;
  margin-left: -20px;}
    .newsletter{
      margin-left: -10px!important;}
    
  
}

@media only screen and (max-width: 496px) {
 .row-cols-2 {
width: 320px;padding: 10px; margin-left: -12px;}
.newsletter{
  margin-left: -10px!important;}


 
  .cardcol{
  
    margin: 60px;overflow-x:visible !important;margin-top: 20px;}
}


@media only screen and (max-width: 767.98px) 
 { 
  .carousel{
    margin-top: -900px;width: 100%;margin-left: -100px;
  }



  .card {
    width:330px;height: 470px;margin: -20px;
  }

  .cardcol{
    margin: 20px;overflow-x:visible !important;margin-top: 20px;
  }
 
  .newsletter{
    margin-left: 150px!important;}
  


 }

/* tablet */

@media only screen and (max-width:991.98px){
  .carousel{
  width: 100%;margin-left: -90px;margin-top: -40px ;

}

.card {
  width: 371px;;height: 340px;float: right;margin-left: -93px;padding: 10px;
}
.card-text{
font-size:12px;direction: rtl;
;}

.newsletter{
    margin-left: -50px;width: fit-content;font-size: 12px;
}

h2{
  margin-left: 30px;text-align: center;
}
}

/* 
@media (min-width: 1200px) { 

  .carousel{
    width: 100%;margin-left: -90px;margin-top: -40px ;
  
  }

  .card {
    width:382px;height: 420px;float: left;padding:17px;
  }

  .cardcol{
    margin-left: 60px;padding: 20px;
  }
  
 } */


@media only screen and (max-width: 1024px)  {
  .carousel{
    width: 100%;margin-left: -90px;margin-top: -40px ;
    
  
  }

  .cardcol{
    margin-left: 70px;padding: 20px;
  }

  .card {
    width:300px;height: 340px;float: left;
  }
  .card-text{
  font-size:12px;direction: rtl;
  ;}
  
   
  .newsletter{
      margin-left: 10px;width: fit-content;font-size: 12px;
  }
  
  h2{
    margin-left: 30px;text-align: center;
  }


}