<div class="container">
  <div class="row">
    <div class="col" *ngIf="posts">
      <article class="single-post post-card">
        <div class="post-header">
          <div class="tag-wrap">
          </div>
          <h1 class="heading-large post-title">
            {{posts.title}} </h1>
          <div class="date-time">
            <div> {{ myDate |date:'mediumDate'}} : تاريخ</div>
          </div>
          <div class="bodyy">
          <div class="image-post  ">
            <img style=" border-radius: 25px; height: 580px;" src="data:image/jpg;base64,{{posts.image}}" loading="lazy" alt="img ">
          </div>

          <p class="custom-excerpt">
            {{posts.body}} </p>
          </div>
            </div>

            