.container {
  margin-top: -60px;
  justify-content: right;
}

.heading-large {
  float: right;
  margin-top: 0px;
  font-size: 44px;
  color: #565a5d;
}
.custom-excerpt {
  width: 1000px;
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: 1px;
  word-spacing: 4px;
    float: left;
  text-align: center;
  margin-left: 25px;
  white-space: pre-line;
  overflow: hidden;
  text-overflow: ellipsis;direction: rtl;


}


.date-time {
  float: right;
  margin-top: 60px;
  color: #e1a730;
}
.image-post {
  margin-left: 77px;
  opacity: 0.9;margin-bottom: 70px;
}
.bodyy{
  margin-top: 150px;
}