.card{
  margin: 100px;align-items: center;
}
.col-md-6{
  margin-top: -100px;width: 50%;margin-left: 340px;
}

    pagination-controls{
      margin-top: 200px;float: left;margin-left: 300px;
    }





    
  