<div class="d-flex flex-column flex-shrink-0 p-3 " style="width: 280px; background-color: #ffffff;">
  
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a href="#" class="nav-link " aria-current="page">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
          العناية بالمنزل   </a>
      </li>
      <li>
        <a href="#" class="nav-link">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
          وصفات طعام 
        </a>
      </li>
      <li>
        <a href="#" class="nav-link ">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
تسوق و عروض    </a>
      </li>
      <li>
        <a href="#" class="nav-link ">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
          عناية شخصية    </a>
      </li>
      <li>
        <a href="#" class="nav-link">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
          مراجعة منتجات
        </a>
      </li>
    </ul>
    <hr>

    <div class="card">
      <article class="card-group-item">
        <header class="card-header">
          <h6 class="title"> اخر المقالات </h6>
        </header>
        <div class="filter-content">
          <div class="card-body">
          <form>
            <label class="form-check">
              <a href="#" class="nav-link">
                <img class="images" src="" alt="">
                <svg class="bi me-2 second" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
                  أسهل طريقة لتنظيم المطبخ
              </a>
            </label> <!-- form-check.// -->
            <label class="form-check">
              <a href="#" class="nav-link">
                <img class="images" src="" alt="">
                <svg class="bi me-2 second" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
                كيت موس : جوني ديب لم يعنفني
              </a>
            </label>  <!-- form-check.// -->
            <label class="form-check">
              <a href="#" class="nav-link">
                <img class="images" src="" alt="">
                <svg class="bi me-2 second" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
                الخلطة السرية للبيتزا الأيطالي 
              </a>
            </label>  <!-- form-check.// -->
          </form>
    
          </div> <!-- card-body.// -->
        </div>
      </article> <!-- card-group-item.// -->
  </div>