div.collapsed{
  display: -webkit-inline-box;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.readMore{
  margin-top: -3px!important;
  line-height: 1.4 !important;
}
.isCollapsed{
  width: 85%;
}

.cb{
  clear:both
}
.pull-left{
  float: left;
}
.pull-right{
  float: right;
}